body{
    background-color: aliceblue;
    margin : 20;
    text-align: center;
}
img{
    display: flex;
    margin: auto;
    padding: 30px;
    height: 50%;
}
div{
    display: flex;
    flex-direction: column;
    margin : auto;
    gap: 10px;
    width: max-content;
}
p{
    padding-top: 20px;
}
